# Our First Class

THIS IS the first class aj mosom bht garam hay

In [1]:
print(123) #Integer

123

In [2]:
print('hELLO wORld') #string

hELLO wORld

In [3]:
print("Hello World") #string

Hello World

In [4]:
print(12.3) #Float

12.3

In [7]:
print(123, 'Hello', False)

123 Hello False

In [8]:
print(False)

False

In [16]:
print(123, 'Hello', False, 12.3, sep = ' (I AM A SEPERATOR) ')

123 (I AM A SEPERATOR) Hello (I AM A SEPERATOR) False (I AM A SEPERATOR) 12.3

In [19]:
print('Hello wOrLD', end='\t')
print('Hello python', end='\t')
print('Hello PIAIC')

Hello wOrLD	Hello python	Hello PIAIC

# how many escape character in python?

In [20]:
name = "asad"

In [21]:
id(name)

1416076732152

In [22]:
name = "Nasir"

In [23]:
id(name)

1416077124416

In [24]:
na1me = 'hussain'

In [25]:
$name = 'annu'

SyntaxError: invalid syntax (<ipython-input-25-6a55716eb8ba>, line 1)

In [26]:
_ = 'name'

In [27]:
-name = 'annu'

SyntaxError: can't assign to operator (<ipython-input-27-8d40d9aa2d85>, line 1)

reseved word cannot use as variable
space nahi askta variable declaration me

In [28]:
x=1234

In [29]:
x+2

1236

In [30]:
x =x + 2

In [31]:
print(x)

1236

# Concatenation

In [32]:
x = 2
y = '2'
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
z = str(x) + y
print(z)

22

In [37]:
z = x + int(y)
print(z)

4

In [38]:
a = 12
b = '57'
z = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
z = str(a) + b
print(z)

1257

In [42]:
z = a + int(b)
print(z)

69

In [45]:
edge = 23
name = 'anosh'
print('my name is ' + name + ' and my age is ' + str(edge))

my name is anosh and my age is 23

In [49]:
age = input('What is your age? ')
name = input('What is your name? ')
print('my name is {} and my age is {} ' .format(name,age)) #.format is placeholder

What is your age? 25
What is your name? anosh
my name is anosh and my age is 25

In [50]:
age = input('What is your age? ')
name = input('What is your name? ')
print('my name is {1} and my age is {0} ' .format(name,age)) #.format me name age array hen 0 or 1

What is your age? 34
What is your name? anosh
my name is 34 and my age is anosh

In [51]:
age = input('What is your age? ')
name = input('What is your name? ')
print(f'My name is {name} and my age is {age}')

What is your age? 25
What is your name? anosh
My name is anosh and my age is 25